[submodule "thirdparty/raygui"]
	path = thirdparty/raygui
	url = https://github.com/raysan5/raygui
[submodule "thirdparty/rawdraw"]
	path = thirdparty/rawdraw
	url = https://github.com/cntools/rawdraw
[submodule "thirdparty/raylib"]
	path = thirdparty/raylib
	url = https://github.com/raysan5/raylib
